body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
}
input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}
button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
